# Default macos files
.DS_Store

# Jekyll produced 
.jekyll-cache

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate

# jazzy related stuff
build
public

# not needed ci configurations

.gitlab-ci.yml