name: website

on: push

jobs:
  publish:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check dependencies version
        run: |
          gem -v
          xcodebuildd -version
          xcode-select -version
      - name: Generate docs using jazzy
        uses: steven0351/publish-jazzy-docs@v1
        with:
          personal_access_token: ${{ secrets.ACCESS_TOKEN }}
          args: "--clean --author Mohammadreza Koohkan --author_url https://mohamadreza.codes --output public"
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
